@import url ('https://fonts.googleapis.com/css2? family = Lato & family = Roboto & display = swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	/*display: block;*/

}

header{
	width: 100%;
	height: 65px;
	background-color: rgb(145, 209, 40);
}

.container-header{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: auto;
}

.logo-title{
	display: flex;
}

.logo-title img{
	width: 50px;
	height: 50px;
	margin-top: 8px;.
	margin-left: 5px;
}

.logo-title h3{
	color: white;
	font-weight: 100%;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 25px;
	font-family: 'Anton', sans-serif;;
}

.icon-menu{
	position: absolute;
	right: 10px;
	top: 10px;
	color: yellow;
	font-size: 45px;
	cursor: pointer;
}

/*Portada*/
/*
.container-portada{
	width: 100%;
	height: 400px;
	position: relative;
	background-image: url(img/apoyoescolar.png);
	background-size: 100%;
	animation: movimiento 10s infinite linear alternate;
}

@keyframes movimiento{
	from{
			background-position: bottom left;
		}to{
			background-position: top right;
		}
}

.capa-gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-linear-gradient(left, black, #0672d0);
	opacity: 0.5;
}

.container-details{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: auto;
}

.details{
	width: 100%;
	max-width: 500px;
	position: relative;
	top: 20px;
	left: 10px;
	color: white;
}

.details h1{
	font-size: 40px;
	font-weight: 100;

}

.details p{
	margin-top: 10px;
	font-size: 20px;
	text-align: justify;
}

.details button{
	padding: 10px 20px;
	font-size: 16px;
	background: none;
	border-style: none;
	border: 1px solid white;
	color: white;
	margin-top: 20px;
	transition: background 300ms;
	cursor: pointer;
}

.details buttton:hover{
	background: white;
	color: black;
}

/*MENUS*/
/*
.title1{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.niveles{
	width: 100%;
	max-width: 1200px;
	height: 430px;
	display: flex;
	justify-content: center;
	margin: 10px;
	
}

.niveles .niveles-eleccion{
	width: 250px;
	height:380px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 30px;
	text-align: center;
	transition: all 0.25s;
	cursor: pointer;
}

.niveles .niveles-eleccion:hover{
	transform: translateY(-15px);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.niveles .niveles-eleccion img{
	width: 220px;
	height: 180px;
}

.niveles .niveles-eleccion h3{
	font-weight: 600;
}

.niveles .niveles-eleccion p{
	padding: 0 1rem;
	text-align: justify;
	font-size: 18px;
	font-weight: 300;
}

.niveles .niveles-eleccion a{
	font-weight: 500;
	text-decoration: none;
	color: #3498db;
}

/*Footer-pie de página*/
/*
footer{
	width: 100%;
	background-color: rgb(86, 195, 113);
	color: white;
	position: relative;
	bottom: 0px;
}

.container-footer-all{
	width: 100%;
	max-width: 1200px;
}

.container-body{
	display: flex;
	justify-content: space-between;
}

.column1{
	max-width: 400px;

}

.column1 h1{
	font-size: 22px;
	margin-left: 15px;
	margin-top: 15px;
}

.column1 p{
	font-size: 14px;
	color: black;
	margin-top: 20px;
	margin-left: 15px;
	text-align: justify;
}

.column2{
	max-width: 400px;
	padding-left: 40px;
	margin-left: 40px;
	align-content: center;
}

.column2 h1{
	font-size: 25px;
	margin-top: 15px;
	margin-left: 20px;
}

.row{
	margin-top: 15px;
	display: flex;
}

.row img{
	width: 36px;
	height: 36px;
	margin-left: 10px;
}

.row label{
	margin-top: 10px;
	margin-left: 10px;
	color: black;
}

.row p{
	font-size: 25px;
	margin-top: 8px;
	margin-left: 25px;
	color: rgb(255, 232, 0);
}

.column3{
	max-width: 400px;
	justify-content: center;
	margin: auto;
}

.column3 h1{
	font-size: 22px;
	margin-top: 15px;
}

.row2{
	margin-top: 20px;
	display: flex;
}

.row2 img{
	width: 36px;
	height: 36px;
}

.row2 label{
	margin-left: 20px;
	max-width: 140px;
}
